Pillow==11.0.0
geopandas==1.1.1
matplotlib==3.9.3
numpy==1.26.4
opencv-python==4.9.0.80
openslide-python==1.4.1
openslide-bin==4.0.0.10
pandas==2.2.3
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
shapely==2.0.6
tiatoolbox==1.6.0
tqdm==4.67.1
ipynbname==2025.8.0.0